@import "variables";
#header {
	@include flexbox;
	@include center-flex;
	@include flex-column;

	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../../dist/img/hero.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	color: $l-white
}

#main {

}

#footer {

}