@import "variables";

* {
	box-sizing: border-box;
}

#header {
	@include flexbox;
	@include center-flex;
	@include flex-column;

	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(#{$img-folder}/hero.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	color: $l-white
}

#main {
	@include flexbox;
	@include center-flex;
	@include flex-column;
}

#footer {

}

.centered {
	width: 100%;

	@media (min-width: 1200px) {
		width: 70%;
	}
}