/***********************
	SINGLE COMPONENTS
***********************/

@mixin section-title(){
	position: relative;
	color: $m-dark-blue;
	margin-bottom: 80px;
	
	&:after {
		content: "";
		background: url(#{$img-folder}/divider.png) no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
}

@mixin triangle($direction:left, $color: $m-light-grey) {
	content: "";
	top: 25px;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	@if $direction == left {
		left: 100%;
		border-left: 12px solid $color;
	}
	@else {
		right: 100%;
		border-right: 12px solid $color;
	}
}

@mixin triangle-hover($direction) {
	@if $direction == left {
		border-left: 12px solid $l-green;
	}
	@else {
		border-right: 12px solid $l-green;
	}
	
}

@mixin card-title($orientation) {
	margin-top: 25px;
	position: absolute;
	background-color: $l-white;
	@if $orientation == right {
		order: -1;
		margin-left: -135px;
	}
	@else {
		margin-left: 70px;
	}

}

/********************
	Header Modules
********************/

.presentation {
	text-align: center;
	width: 90%;

	&--dev{
		margin: 10px 0;
		color: $l-green;
	}

	&--blue {
		color: $l-blue;
	}
}


.social {
	&--menu {
		@include flexbox;
	}

	&--link {
		margin: 0 15px;
		&:hover::after {
			background: $l-green;
			border: 1px solid $l-green;
			z-index: 0;
			cursor: pointer;
		}
	}

	&--icon {
		position: relative;
		color: $l-white;
		z-index: 1;
	}
}


.diamond {
	position: relative;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;

	&:after {
		position: absolute;
	    content: "";
	    left: 0;
	    top: 0;
	    width: 40px;
	    height: 40px;
	    border: 1px solid #fff;
	    border-radius: 3px;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-transition: all 300ms;
	    -moz-transition: all 300ms;
	    -o-transition: all 300ms;
	    transition: all 300ms;
	}
}

.mouse {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 16px;
	height: 50px;
	width: 30px;
	margin-left: -17px;
	z-index: 10;

	@media (min-width: 800px) {
		display:block;
	}

	&--wheel {
		position: relative;
		border-radius: 10px;
		background: #fff;
		width: 4px;
		height: 10px;
		top: 4px;
		margin-left: auto;
		margin-right: auto;
		-webkit-animation-name: drop;
	    -webkit-animation-duration: 1s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-delay: 0s;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-play-state: running;
	    animation-name: drop;
	    animation-duration: 1s;
	    animation-timing-function: linear;
	    animation-delay: 0s;
	    animation-iteration-count: infinite;
	    animation-play-state: running;
	}
	@-webkit-keyframes drop {
	    0%   { top:5px;  opacity: 0;}
	    30%  { top:10px; opacity: 1;}
	    100% { top:25px; opacity: 0;}
	}


	@keyframes drop	{
		0%   { top:5px;  opacity: 0;}
		30%  { top:10px; opacity: 1;}
		100% { top:25px; opacity: 0;}
	}
}

.navigation {
	@include flexbox;
	width: 100%;
	min-height: 50px;
	border-bottom: 2px solid $m-light-grey;

	&--container {
		@include flexbox;
		justify-content: space-between;
		align-items: center;
		margin: auto
	}

	&--grey {
		color: $l-dark-grey;
	}

	&--green {
		color: $l-green;
	}
	
	&--links {
		a {
			text-decoration: none;
			color: $l-dark-grey;
			margin-right: 15px;;
		}
	}
}

.about {
	@include flexbox;
	@include flex-column;
	align-items: center;
	margin-top: 120px;
	padding: 20px;
	color: $l-dark-grey;

	&--title {
		@include section-title;
	}
}



.description {
	@include flexbox;
	@include flex-column;
	margin-bottom: 50px;

	@media (min-width: 800px) {
		@include flex-row;
	}
}

.personal-data {
	width: 100%;
	order: -1;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid $m-light-grey;

	&--pic {
		position: relative;
		background: url(#{$img-folder}/photo-frame.png) bottom center no-repeat;
		background-size: contain;
		img {
			position: relative;
			z-index: -1;
			width: 100%;
		}
	}

	&--info {
		font-size: 0.8rem;
		font-weight: 300;
		padding: 25px 20px 30px;

		@media (min-width: 800px) {
			font-size: 0.66rem;
		}

		li {
			padding: 7px 0;

			&:not(:last-child) {
				border-bottom: 1px solid $m-light-grey;
			}
		}
	}

	@media (min-width: 800px) {
		width: 30%;
		order: 1;
	}
}

.bio {
	width: 100%;
	
	&--section:first-child{
		margin-bottom: 40px;
	}

	&--title {
		margin-bottom: 30px;
	}

	&--body {
		font-weight: 300;
		line-height: 2;
	}

	@media (min-width: 800px) {
		width: 70%;
		margin-right: 20px;
	}
}

.abilities-list {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 40px;
	
	li {
		font-size: 1rem;
		line-height: 2;
		font-weight: 300;

		@media (min-width: 800px) {
			font-size: 0.75rem;
			float: left;
			display: inline-block;
			width: 50%;
		}
	}

	li::before {
		content: "\f00c";
		font-family: fontawesome;
		color: #68c3a3;
		margin-right: 10px;
	}
}

.signature {
	margin-bottom: 20px;

	img {
		width: inherit;
	}
}

.about-buttons {

	&--btn {
		display: inline-block;
		color: white;
		margin-right: 20px;
		padding: 14px 20px;
		border-radius: 4px;
		font-weight: 700;
	}

	&--icon {
		margin-right: 10px,
	}
	
	.msg {
		background-color: $l-blue;

		&:hover {
			background-color: $l-dark-blue;
		}
	}

	.cv {
		background-color: $l-green;

		&:hover {
			background-color: $l-dark-green;
		}
	}
}

.banner {
	width: 100%;
	min-height: 300px;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(#{$img-folder}/board.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}

.resume {
	@include flexbox;
	@include flex-column;
	align-items: center;
	margin-top: 120px;

	&--title {
		@include section-title;
	}

	&--subtitle {
		margin-bottom: 20px;
	}
}

.timeline {
	@include flexbox;
	width: 100%;

	&:before {
		content: "";
		width: 10px;
		height: 10px;
		left: 50%;
		position: absolute;
		transform: rotate(45deg);
		background-color: $m-timeline-grey;
	}

	&--list {
		@include flexbox;
		@include flex-column;
		position: relative;
		width: 100%;
		&:before {
			content: "";
			top: 0;
			bottom: 0;
			width: 2px;
			background-color:$m-timeline-grey;
			position: absolute;
			left: 50%;
			margin-left: 4px;
		}
	}
}

.card {
	@include flexbox;
	margin-bottom: 40px;

	&:nth-child(even) {
		justify-content: flex-end;
		.card--content:after {
			@include triangle(right, $l-white);
		}
		.card--content:before {
			@include triangle(right, $m-light-grey);
			margin-left: 1px;
		}

		.card--date {
			@include card-title(right);
		}
	}

	&:nth-child(odd) {
		.card--content:after {
			@include triangle(left, $l-white);
		}
		.card--content:before {
			@include triangle(left, $m-light-grey);
			margin-left: 1px;
		}

		.card--date {
			@include card-title(left);
		}
	}

	&--content {
		position: relative;
		width: 41%;
		margin-right: 17px;
		padding: 20px;
		border: 1px solid $m-light-grey;
		text-align: right;
	}

	&--content:hover {
		background-color: $l-green;
		border-color: $l-green;
		color: white;
	}
}





