@import "variables";

@mixin triangle-hover($direction) {
	transition: all 400ms;
	@if $direction == left {
		border-left: 12px solid $l-green;
	}
	@else {
		border-right: 12px solid $l-green;
	}
}

.visible-nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	a {
		padding: 10px 15px;
	}
}

.invisible-nav {
	display: none;
}

.fixed {
	top: 0;
	position: fixed;
}

.card:nth-child(even) {
	.card--content:hover:after {
		@include triangle-hover(right);
	}
}

.card:nth-child(odd) {
	.card--content:hover:after {
		@include triangle-hover(left);
	}
}

.navigation {

	&--container {
		flex-wrap: wrap;
	}

	&--name {
		padding: 10px 15px;
	}

	&--responsive {
		margin-right: 15px;
		font-size: 1.2rem;
	}
	
	@media (min-width: 768px) {

		&--responsive {
			display: none;
		}

		&--links {
			display: flex;
			flex-direction: row;
			width: auto;
		}
	}	
}

.active-link {
	color: $l-green !important;
	transition: all 400ms;
}
