/********************
	Flex positioning
********************/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin center-flex(){
	justify-content: center;
	align-items: center;
}

@mixin flex-column(){
	flex-direction: column;
}

/******************************
	General Use Variables
******************************/

/* Color */
$l-white: #fff;
$l-blue: #52b3d9;
$l-green: #68c3a3;

/* Fonts */

$l-roboto: Roboto;
