/********************
	Flex positioning
********************/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin center-flex(){
	justify-content: center;
	align-items: center;
}

@mixin flex-column(){
	flex-direction: column;
}

@mixin flex-row(){
	flex-direction: row;
}

/******************************
	General Use Variables
******************************/

/* Color */
$l-white: #fff;
$l-blue: #52b3d9;
$l-dark-blue: #4aa0c2;
$l-green: #68c3a3;
$l-dark-green: #4eb28f;
$l-dark-grey: #282828;
$m-light-grey: #eee;
$m-dark-blue: #2c3e50;
$m-timeline-grey: #e1e1e1;


/* Fonts */

$l-roboto: Roboto;


/* Folders */

	/* img */
	$img-folder: "../../dist/img";
